* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  } 
.nav-img{
    width: 90px;
}
a{
    font-size: 1.2em;
}
.formCss{
    width: 600px;
}
.card{
    width: 18rem;
    border-radius: 10px;
};

#meal-fullInfo{ 
    text-decoration: none;
    color: black;
}